    |===
        |Path|Type|Description|Optional|Constraint

    {{#fields}}
        |{{path}}
        |{{type}}
        |{{description}}
        |{{#Optional}}Y{{/Optional}}
        |{{#constraint}} {{.}} {{/constraint}}
    {{/fields}}
        |===